body {
    width: 70%;
    height: 100%;
}
#gamePanel {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(208, 255, 199);
    height: 100%;
}

#gameTracker {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: rgb(47, 133, 30);
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#turnColor {
    font-size: 1.5vw; 
}

#scoreBoard {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.5vw; 

}

#winnerWhite, #winnerBlack, #scoreTied {
    color: rgb(47, 133, 30);
    
}

#mainBoard {
    grid-column: 1/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: black;
    margin: 10px;
    padding: 10px;
    aspect-ratio: 1;
}

.slots {
    background-color: rgb(76, 120, 67);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.buttons {
    background-color: rgb(76, 120, 67);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.buttonsWhite{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.buttonsBlack{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}